.text-titulo-articulo{
    color: #000000;
    transition: color 500ms;
}
.text-titulo-articulo:hover{
    color: #4d79ff;
}

.container-img :hover{
    transform: translate(0px,-10px);
    transition: 500ms;
}